.character {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 62, 68);

    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}
