.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(60, 62, 68);
    transition: all 0.6s ease-out;

    &:hover {
        background-color: darken(rgb(60, 62, 68), 5%);
    }

    &:hover &__name {
        color: rgb(255, 152, 0);
        transition: all 0.6s ease-out;
    }

    &__description {
        padding: 1rem;
    }

    &__name {
        margin: 0.5rem 0;
        font-weight: 800;
        font-size: 1.5rem;
    }

    &__status {
        margin-bottom: 1.5rem;
        color: rgb(158, 158, 158);
        font-weight: 800;
    }

    &__status--alive {
        color: rgb(85, 204, 68);
    }

    &__status--dead {
        color: rgb(214, 61, 46);
    }

    &__additional {
        margin-bottom: 0.5rem;
    }

    &__additional-title {
        color: rgb(158, 158, 158);
        font-weight: 600;
        font-size: 1rem;
    }

    &__additional-value {
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: 1rem;
    }

    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}
