.card-link {
    text-decoration: none;
}

.button-load-more {
    display: block;
    margin: 1rem auto;
    padding: 1.5rem;
    color: rgb(255, 152, 0);
    font-weight: 900;
    font-size: 1rem;
    background-color: rgb(60, 62, 68);
    border: 1px solid rgb(255, 152, 0);
    cursor: pointer;
    transition: all 0.6s ease-out;

    &:hover {
        background-color: darken(rgb(60, 62, 68), 5%);
    }
}
